<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <p> welcome </p>
    <p> 你认识么，请问？</p>
    <p> 不认识，谢谢</p>
    <script src = 'https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js'></script>
    <script src = 'https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
</body>
</html>
