extends layout

block content
  h1= title
  p.a Welcome to #{title}
  p hahahhaha

block javascript
  script(type="text/javascript").
    console.log($)
    $.get('/api/test', (res) => {
        console.log(res)
        console.log(vm.foo)
        console.log(vm)
        //- vm.foo = 1111
    })