extends layout

block content
  h1= title
  p Welcome to #{title}
  p hahahhaha

block javascript
  script(type="text/javascript").
    console.log($)
    $.get('/api/test', (res) => {
        console.log(res)
    })